body{
	background-image: url("../img/aquabg.jpg");
}
.navbar-brand,
.navbar-nav li a{
	background-color: red;
    height: 70px;
    padding-top: 10px;
}

.bgcolor{
	background-color:red;
}

.topleft-padding{
	padding-left: 0px;
	padding-top: 10px
}
